@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding-bottom: 40px;

}

h1,
h2 {
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-weight: 900;
}
.testimonials {
	margin: auto;
	}
#Call-Us{
	margin-left: 5%;
}
#Call-Us h2{
	padding-left: 0%;
}

.full_page_img{
  background-image: linear-gradient(to right, rgba(255,255,255, 0.3), rgba(255,255,255, 0.3) 100%),url("../images/Kitchen3.jpg");
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
    margin-bottom: 0;
  min-height: 100%;
}
.full_page_img_index{
  background-color: grey;
  
}
h1 { margin-top: 0;
	padding-top: 5%;
	padding-left: 5%;}
h2{
	padding-top: 5%;
	padding-left: 5%;
	}
html{
	margin: 0;
	padding: 0;
	height: 100%;
}

.services h2{
	text-align: left;
}

body li {
  list-style-type: square;
}
.centered{
	max-width: 50%;
	text-align: left;
	margin: auto;
}
.centered img{
	/*margin-left: auto;*/
	margin: auto;
	height: 500px;
	width: 500px;
}
.nav_footer {
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e28743;
   color: white;
   text-align:left;
   font-size: x-large;
}
.nav_footer li {
   display: inline;
   margin-left: 2%;
   margin-right: 2%;
}
.nav_footer ul{
	margin-left: 5%;
}
.main_grid_container{
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	background-color: white;
	  height: 100%;

}
.showcase_container{
	margin: auto;
	width: 60%;
	height: 100%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background-color: white;
}
.showcase_container h1{
	grid-column-start: 1;
	grid-column-end: 4;
	padding-top:5% ;
	padding-bottom: 5%;
}
.showcase_container img{
	width: 100%;
height:200px ;	

	margin: auto;
	display: block;
	object-fit: cover;
}


a:link {
  color: #154c79; /*blue*/
  text-decoration: none;
	text-decoration-line: none;
}
a:visited{
	color: #000000; /*black */
  text-decoration: none;
	text-decoration-line: underline;
}
a:hover{
	color: #75706f; /* grey */
  text-decoration: none;
	text-decoration-line: underline;
}
a:active{
  color: rgb(247,203,93); /* gold */
  text-decoration: none;
	text-decoration-line: none;
}
.showcase_container figcaption{
	margin-top: 2%;
	text-align: center;
}

@media (min-width: 320px) 
and (width >= 480px) {
	.top_grid_container{
		margin: auto;
		width: 60%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
		background-color: white;
	  grid-gap: 10px;
	  min-height: 100%;
	  height: 100vh;
	}
	.author{
	text-align: right;
	margin-left: 45%;
}
}

@media only screen 
and (min-width : 1224px) {
    
	  .top_grid_container{
		margin: auto;
		width: 60%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
		background-color: white;
	  grid-gap: 10px;
	  min-height: 100%;
	  height: 100%;
	}
	.author{
	text-align: right;
	margin-left: 65%;
}
}

.top_grid_container img{
	width: 75%;
	height: 75%;
	margin: auto;
}
.top_grid_container h1{
	text-align: left;
}

.list_top_grid_container{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	padding-bottom: 5%;
	  height: 100%;

}
.list_top_grid_container img{
	width: 75%;
	height: auto;
	margin-left: 10%;
	margin-right: auto;

}
.list_top_grid_container ul{
	width: 100%;
	list-style-type: none;
}
.main_grid_container img{
	width: 75%;
	height: 75%;
	margin: auto;
}
.main_grid_container ul{
	width: auto;
	list-style-type: none;
	margin: auto;
	text-align: left;
	margin-top: 17%;
	margin-left: 17%;
}

header{
	text-align: left;
}
.right{
	text-align: right;
}
.right p{
	margin-right: 4%;
}
.left{
	text-align: left;
	margin-left: -4%;
}
.left p{
	  
	margin-right: 5%;

}
.nav_top{
	padding-top: 10px;
}
.nav_bottom{
	padding-bottom: 10px;
}
.showcase{
	background-color: white;
}
.showcase ul{
	margin-left: 0;
}
.list_header{
	list-style-type: none;
	text-decoration-line: underline;
	margin-left: -4%;
}
