@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-weight: 900;
}

.full_page_img{
  background-image: linear-gradient(to right, rgba(255,255,255, 0.3) 0 100%),url("../images/Kitchen3.jpg");
  background-color: lightblue;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
h1 { margin-top: 0;
	padding-top: 5%;
	padding-left: 5%;}
h2{
	padding-top: 5%;
	padding-left: 5%;
	}
html{
	margin: 0;
	padding: 0;
	top: 0;
	height: 100%;
}

.services h2{
	text-align: left;
}
body{
	margin: 0;
	padding: 0;
}

body li {
  list-style-type: square;
}
.centered{
	max-width: 50%;
	text-align: left;
	margin: auto;
}
.nav_footer {
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e28743;
   color: white;
   text-align:left;
   font-size: x-large;
}
.nav_footer li {
   display: inline;
   margin-left: 2%;
   margin-right: 2%;
}
.nav_footer ul{
	margin-left: 5%;
}
.main_grid_container{
	margin: auto;
	width: 60%;
	length: 50%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	background-color: white;
}
.showcase_container{
	margin: auto;
	width: 60%;
	length: 50%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto ;
	background-color: white;
}
.showcase_container h1{
	grid-column-start: 1;
	grid-column-end: 4;
	padding-top:5% ;
	padding-bottom: 5%;
}
.showcase_container img{
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
	object-fit: cover;
}

a{
	color: rgb(0,0,0); /*black*/
	text-decoration: none;
	text-decoration-line: none;
}
a:link {
  color: rgb(0,0,0); /*black*/
  text-decoration: none;
	text-decoration-line: none;
}
a:visited{
	color: rgb(0,0,0); /*black */
  text-decoration: none;
	text-decoration-line: underline;
}
a:hover{
	color: rgb(235,80,58); /* red */
  text-decoration: none;
	text-decoration-line: underline;
}
a:active{
  color: rgb(247,203,93); /* gold */
  text-decoration: none;
	text-decoration-line: none;
}
.showcase_container figcaption{
	margin-top: 2%;
	text-align: center;
}

.top_grid_container{
	margin: auto;
	width: 60%;
	length: 50%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto auto;
	background-color: white;
  grid-gap: 10px;

}
.top_grid_container img{
	width: auto;
	height: 75%;
	padding: 25;
}
.top_grid_container h1{
	text-align: left;
}

.list_top_grid_container{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 50%;
	padding-bottom: 5%;
}
.list_top_grid_container img{
	width: 75%;
	height: auto;
	margin-left: 10%;
	margin-right: auto;

}
.list_top_grid_container ul{
	width: 100%;
	list-style-type: none;
}
.main_grid_container img{
	width: 75%;
	height: 75%;
	margin: auto;
}
.main_grid_container ul{
	width: auto;
	list-style-type: none;
	margin: auto;
	text-align: left;
	margin-top: 17%;
	margin-left: 17%;
}
.main_grid_container p{
	padding: auto;

}
header{
	text-align: left;
}
.right{
	text-align: right;
}
.right p{
	margin-right: 4%;
}
.left{
	text-align: left;
}
.left p{
	  margin-left: -4%;

}
.nav_top{
	padding-top: 10px;
}
.nav_bottom{
	padding-bottom: 10px;
}
.showcase{
	background-color: white;
}
.showcase ul{
	margin-left: 0;
}
